a:link{color:red;}
a:visited{color:green;}
a:hover{background-color:blue;
        color:white;
		text-decoration:underline;
		font-weight:bold;}
a:active{background-color:orange;}	
table {border:3px solid black;}
tr {background-color:yellow;}
td {border:2px dashed red;}